body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
*{overflow: hidden;}

/* Set a style for all buttons */
button {
    background-color: #61dafb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
    transform: scale3d(1,2,1);
}

button:hover {
    opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 99.9%; /* Full width */
    height: 99.9%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,.5);
}
.img {
    width: 600px;
    right: 0;    float: right;
    position: fixed;
    z-index: 2;
}
/* Modal Content/Box */
.modal-content {
    position: fixed; /* Stay in place */
    left: 0;
    top: 10%;
    right: 0;
    background-color: #61dafb;
    margin: 0 auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    z-index: 11; /* Sit on top */

}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 23px;
}

.modal-header {
    padding: 2px 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;

}

.modal-body {padding: 2px 10px;}

.modal-footer {
    padding: 2px;
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
}
/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 50%;
    }
}