.product-item-img{
    height: 18rem;    min-width: 10rem;
    display: block;
}

.product-item-chosen-button{
    font-size: 30px;
    color: black;
    cursor: pointer;
}
.card-body{
    min-height: 21rem;    min-width: 15rem;

}
.product-item-chosen-button.chosen{
    color: rgba(250, 162, 0, 0.836)
}

